__pycache__
.DS_Store
.gobincache/
.idea/
docs/node_modules/
bin/
book/
dist/
*.o
*.so
*.dump
*.out
*.bak
*.tmp
*.temp
*.log
*.swp
__debug_bin*
vendor/
build/deploy
tmp
tmpfile
.history
*.test
*.tar.gz
*.tfstate
*.tfstate.backup
.terraform
*.lock.info
terraform.tfvars
tmp
*.swp
