#!/bin/bash


global:
  user: "tidb"
  ssh_port: 22
  deploy_dir: "/tidb-deploy"
  data_dir: "/tidb-data"
  arch: "amd64"

monitored:
  node_exporter_port: 9100
  blackbox_exporter_port: 9115


pd_servers:
%{ for addr in ip_addrs ~}
  - host: ${addr}
%{ endfor ~}


tikv_servers:
%{ for addr in ip_addrs ~}
  - host: ${addr}
%{ endfor ~}

monitoring_servers:
  - host: ${priamry_addr}

grafana_servers:
  - host: ${priamry_addr}

alertmanager_servers:
  - host: ${priamry_addr}
